In [1]:
x=[1,2,3,4,5]
y=[]
for i in x:
    y.append(i**2)
print(y)

[1, 4, 9, 16, 25]

In [2]:
#list comprehension
z=[i**3 for i in x]#[operation for loop]
print(z)
#new_list = [<expression> for <element> in <collection>]

[1, 8, 27, 64, 125]

In [4]:
a = [i**4 for i in x]
print(a)

[1, 16, 81, 256, 625]

In [13]:
salary = [2000,4000,6000,12000,15000]
bonus=[]
for i in salary:
    if i<=10000:
        bonus.append(i+5000)
print(bonus)

[7000, 9000, 11000]

In [21]:
salary1 = [i+3000 for i in salary if i<=7000 ]
salary1

[5000, 7000, 9000]

In [19]:
salary2=[i+5000 if i>=1000 else i+2000 for i in salary ]
salary2

[7000, 9000, 11000, 17000, 20000]

In [40]:
single_digits = range(10)
squares = []
for i in single_digits:
    print(i)
for i in single_digits:
    squares.append(i**2)
print(squares)
cubes=[i**3 for i in single_digits]
print(cubes)

0
1
2
3
4
5
6
7
8
9
[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
[0, 1, 8, 27, 64, 125, 216, 343, 512, 729]

In [46]:
zoo={}
print(zoo)
zoo["tiger"]=2
zoo["deer"]=5
zoo["zebra"]=8
print(zoo)
print(zoo.keys())
print(zoo.values())
print(zoo.items())
zoo.update({'rabbit':5,'eagle':2})
print(zoo)

{}
{'tiger': 2, 'deer': 5, 'zebra': 8}
dict_keys(['tiger', 'deer', 'zebra'])
dict_values([2, 5, 8])
dict_items([('tiger', 2), ('deer', 5), ('zebra', 8)])
{'tiger': 2, 'deer': 5, 'zebra': 8, 'rabbit': 5, 'eagle': 2}

In [50]:
#dictionary comprehension

food=['pizza','tea','dosa']
calories=[350,75,170]

complete = {key:value for key,value in zip(food,calories)}
print(complete)

{'pizza': 350, 'tea': 75, 'dosa': 170}

In [57]:
dict1 = {'a': 1, 'b': 2, 'c': 3, 'd': 4, 'e': 5}
# Double each value in the dictionary
double_dict1 = {key:value *2 for key,value in dict1.items()}
print(double_dict1)
dict2 = {key:value +12**2 for key,value in dict1.items()}
print(dict2)

dict1_keys = {k*2:v for k,v in dict1.items()}
print(dict1_keys)
dict1_keys2 = {k:v**2 for k,v in dict1.items()}
print(dict1_keys2)
dict1_keys3 = {k*2:v**2 for k,v in dict1.items()}
print(dict1_keys3)

{'a': 2, 'b': 4, 'c': 6, 'd': 8, 'e': 10}
{'a': 145, 'b': 146, 'c': 147, 'd': 148, 'e': 149}
{'aa': 1, 'bb': 2, 'cc': 3, 'dd': 4, 'ee': 5}
{'a': 1, 'b': 4, 'c': 9, 'd': 16, 'e': 25}
{'aa': 1, 'bb': 4, 'cc': 9, 'dd': 16, 'ee': 25}

In [66]:
#create a new dictionary where the key is a number divisible by 2 in a range of 0-10 and it's value is the square of the number.
x = dict()
for i in range(1,11):
    if i%2==0:
         x[i]=i**2
print(x)

{2: 4, 4: 16, 6: 36, 8: 64, 10: 100}

In [ ]:
numbers = range(11)
new_dict = {k:k**2 for k in numbers if k%2 == 0}
print(new_dict)
new={}
for n in numbers:
    if n%2==0:
        new[n]=n**2
print(new)

In [67]:
employee={1:"technician",2:"HR",3:"manager",4:"manager",5:"developer"}
manager_dict={k:v for k,v in employee.items() if v=="manager"}
print(manager_dict)

{3: 'manager', 4: 'manager'}

In [68]:
autoMobile = {'brand': 'hyundai', 'model': 'venue', 'year': 2018, 'bajaj': 'pulsar', 'hero': 'splendor', 'tvs': 'victor'}
cars = {k:v for k,v in autoMobile.items() if v=="venue" }
print(cars)

{'model': 'venue'}

In [75]:
words = ["book","data science","data analytics","dictionary"]
length = {k:len(k) for k in words}
print(length)
newlength = {k.upper():len(k) for k in words}
print(newlength)

{'book': 4, 'data science': 12, 'data analytics': 14, 'dictionary': 10}
{'BOOK': 4, 'DATA SCIENCE': 12, 'DATA ANALYTICS': 14, 'DICTIONARY': 10}