In [1]:
#Python variable
a=10
print(a)

10

In [9]:
#type
a=12;
print(type(a))
b="hi"
print(type(b))
c=1/2
print(type(c))
d=("a","b","c")
print(type(d))
e=['a','b','c']
print(type(e))

#arthemetic op
a=2
b=3
print(a+b)
print(a-b)
print(a/b)
print(a*b)
print(a**b)

<class 'int'>
<class 'str'>
<class 'float'>
<class 'tuple'>
<class 'list'>
5
-1
0.6666666666666666
6
8

In [10]:
#.....Non exicutable part of the program

#assighnment operator; area of triangle 3 sides
a = 4
b = 6
c = 4
z = (a+b+c)/2
print(z)
Area = (z*(z-a)*(z-b)*(z-c))**0.5
print(Area)

7.0
7.937253933193772

In [13]:
#multiple assignment
a = b = c = 1
print(a,b,c)

x,y,z=1,'two',3
print(x,y,z)

1 1 1
1 two 3

In [15]:
#data types
#tuple - multiple values in simple bracket()
#int= 10,100,8899,-90
#float = 0.0, 8.9, -55.2
#complex = 3.14i,45i (x+yi)

In [51]:
#python strings #string is immutable
str = 'hello edubridge'
print(str[0])
print(str[-1])
print(str[1:5])
print(str[5:])
print(str[::-1])
print(str[-1:])
print(str+" how r u") #concatination
str.lower()
str.upper()
str.title()

h
e
ello
 edubridge
egdirbude olleh
e
hello edubridge how r u

'Hello Edubridge'

In [53]:
#find and replace

text = 'bat ball'
replaced_text = text.replace('b','c',2)
print(replaced_text)
print(len(text))
splits = text.split(' ')
print(splits)
print(len(splits))
print(text.find('a'))

#format

cricket = "In todays match {},{},{}, {} scored 50+ runs"
cricket.format("Rohit","Virat","Dhoni","Yuvi")

cat call
8
['bat', 'ball']
2
1

'In todays match Rohit,Virat,Dhoni, Yuvi scored 50+ runs'

In [55]:
#relational operator

a=input("day in weeek ")
if a=="sunday":
    print("week off")
else:
    print("working day")

day in weeek saturday
working day

In [57]:
#logical operators

m = int(input("maths:"))
s = int(input("science:"))
e = int(input("english:"))
ss = int(input("social:"))
gk = int(input("generalKnowledge:"))
total = (m+s+e+ss+gk)
avg = (total/5)
percent = ((total/500)*100)
print(total)
print(avg)
print(percent)
if avg>90:
    print("A")
elif avg>70:
    print("B")
elif avg>45:
    print("C")
else:
    print("fail")

maths:66
science:77
english:88
social:99
generalKnowledge:66
396
79.2
79.2
B

In [67]:
name = ["Rohit","Virat","Dhoni","Yuvi"]
captain = name.count("Virat")
print(captain)

runs = [90,59,108,18,12,78];
runs.sort()
print(runs)

x = zip(name,runs)
print(set(x))

1
[12, 18, 59, 78, 90, 108]
{('Rohit', 12), ('Yuvi', 78), ('Dhoni', 59), ('Virat', 18)}

In [69]:
#loop

sum = 0
i=1
while i<10:
    sum = sum+i
    i=i+1
print(sum)

45

In [71]:
#to remove last element from list
name = ["Rohit","Virat","Dhoni","Yuvi"]
name.pop()
print(name)

['Rohit', 'Virat', 'Dhoni']

In [75]:
#dictionary;

wheels = {
    "brand": "hyundai",
    "model": "venue",
    "year": 2018
}
print(wheels)
type(wheels)

{'brand': 'hyundai', 'model': 'venue', 'year': 2018}

dict

In [79]:
#creating empty dict

bike_Sales = {}
bike_Sales["bajaj"] = 12
bike_Sales["hero"] = 23
bike_Sales["tvs"] = 33
bike_Sales["honda"] = 10

print(bike_Sales)

{'bajaj': 12, 'hero': 23, 'tvs': 33, 'honda': 10}